/*general styling*/

body {
  font-size: 1.5rem;
}

section {
  padding: 50px 0;
}

.firstBackground {
  color: #343a40e8;
  background-color: #fff;
}

.secondBackground {
  color: #fff;
  background-color: #7a93b2;
}

/*navbar*/

.navbar {
  position: fixed;
}

.navbar-expand .navbar-collapse {
  display: block!important;
}



/*welcome image with text */

.welcome {
  position: relative;
  text-align: center;
  color: white;
}

.welcome img {
  border: solid 5px #7a93b2;
}

.titleText {
  position: absolute;
  padding: 10px 20px;
  top: 20%;
  left: 20%;
  background: #7a93b2;
}

.titleText h1 {
  font-size: 3em;
}

.titleText p {
  font-size: 1.5em;
}

/*maps*/

#mapThings {
  width: 800px;
  height: 500px;
  margin: auto;
}

#mapPlaces {
  width: 800px;
  height: 500px;
  margin: auto;
}

/* food images with sliding text. Concept taken from 
https://www.youtube.com/watch?v=EXWjMswCuf8&t=249s, 
adapted to this webpage */ 

.foodImage {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin: 4px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 4px #000;
}

.foodImage:hover {
  background-size: 110%;
}

.foodImage:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(90%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 8px;
  content: attr(data-title);
  transition: 0.5s 0.1s;
  font-weight: bold;
  font-size: 1.5em;
}

.foodImage:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 8px;
  content: attr(data-text);
  transition: 0.5s;
  padding-top: 2em;
  margin-top: 8px;
  transform: translateY(100%);
  opacity: 0;
}

.foodImage:hover:after {
  transform: translateY(0);
  transition: 0.5s 0.1s;
  opacity: 1;
}

.foodImage:hover:before {
  transform: translateY(0);
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.foodsToEat p {
  text-align: justify;
  width: 400px;
  max-width: 100%;
}


/*on display none so the toggle function starts with 
not showing the restaurants when loading the page*/
#dumplingRestaurants {
  display: none;
}

#iceRestaurants {
  display: none;
}
#tofuRestaurants {
  display: none;
}
#breakfastRestaurants {
  display: none;
}

/*How to get there section*/

.howToGetThere {
  height: 469px;
}

.howToGetThere img {
  width: 300px;
  max-width: 100%;
  height: auto;
  float: left;
  display: block;
}

.howToGetThere p {
  text-align: justify;
  width: 400px;
  max-width: 100%;
}

