
header {
  padding: 156px 0 100px;
}

section {
  padding: 50px 0;
}

.navbar {
  position: fixed;
}

#mapThings {
  width: 800px;
  height: 500px;
  margin: auto;
}

#mapPlaces {
  width: 800px;
  height: 500px;
  margin: auto;
}