header {
  padding: 156px 0 100px;
}

section {
  padding: 50px 0;
}

.navbar {
  position: fixed;
}

#mapThings {
  width: 800px;
  height: 500px;
  margin: auto;
}

#mapPlaces {
  width: 800px;
  height: 500px;
  margin: auto;
}

.foodImage {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  margin: 4px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 4px #000;
}

.foodImage:hover {
  background-size: 110%;
}

.foodImage:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(90%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 8px;
  content: attr(data-title);
  transition: 0.5s 0.1s;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.foodImage:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 8px;
  content: attr(data-text);
  transition: 0.5s;
  padding-top: 2em;
  margin-top: 8px;
  transform: translateY(100%);
  opacity: 0;
}

.foodImage:hover:after {
  transform: translateY(0);
  transition: 0.5s 0.1s;
  opacity: 1;
}

.foodImage:hover:before {
  transform: translateY(0);
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
