/*general styling*/

body {
  font-size: 1.7rem;
  font-family: helvetica;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.9rem;
}

section {
  padding: 50px 0;
  text-align: justify;
}

.firstBackground {
  color: #343a40e8;
  background-color: #fff;
}

.secondBackground {
  color: #fff;
  background-color: #7a93b2;
}

.sectionTitle {
  text-align: center;
  padding: 20px;
}

.sectionIntro {
  text-align: center;
  padding: 20px;
}

.hr1 {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #343a40e8;
}

.hr2 {
  width: 40%;
  border-top: 1px solid #fff;
}

/*navbar*/
#navbarResponsive {
    display: block!important;
}

/* display none on small screen so the navbar doesn't show. the page is not long enough
for a dropdown navbar to be useful on a small screen*/
@media screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
}

/*welcome image with text */

.title {
  background: url("../media/images/kaohsiung.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.titleText {
  background-color: #7a93b2;
  opacity: 0.8;
  color: white;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 10%;
}

/* adaptions for small screen so the background image isn't obscured by welcome text */
@media screen and (max-width: 576px) {
  .title {
    width: 100%;
    height: 250px;
  }
  .titleText {
    margin: 2%;
    padding: 5px;
  }
  .titleText p {
    display: none;
  }
}

/*things to do*/

#mapThings {
  width: 800px;
  height: 500px;
  max-width: 100%;
  margin: auto;
  border: 5px solid #7a93b2;
  margin-bottom: 10px;
}

#things-to-do p {
  max-width: 100%;
}

.showThings {
  cursor: pointer;
}

/*activities in a scrollable section so the page doesn't stretch out
when multiple activity descriptions are displayes*/
.scrollsection {
  height: 500px;
  overflow-y: scroll;
}

/*on display none so the toggle function starts with 
not showing the restaurants when loading the page*/

.activity{
  display: none;
}

/* food images with sliding text. Concept taken from 
https://www.youtube.com/watch?v=EXWjMswCuf8&t=249s, 
adapted to this webpage */

.dumpling {
  background-image: url(../media/images/dumplings.jpg);
}

.snowIce {
  background-image: url(../media/images/ice.jpeg);
}

.tofu {
  background-image: url(../media/images/tofu.jpg);
}

.breakfast {
  background-image: url(../media/images/breakfast.jpg);
}

.foodColumn {
  display: block;
}

.foodColumn p {
  text-align: left;
}

.foodImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  width: 400px;
  height: 400px;
  max-width: 90%;
  float: left;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 4px #000;
}

.foodImage:hover {
  background-size: 110%;
}

.foodImage:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(90%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 8px;
  content: attr(data-title);
  transition: 0.5s 0.1s;
  font-weight: bold;
  font-size: 1.5em;
}

.foodImage:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 8px;
  content: attr(data-text);
  transition: 0.5s;
  padding-top: 2em;
  margin-top: 8px;
  transform: translateY(100%);
  opacity: 0;
}

.foodImage:hover:after {
  transform: translateY(0);
  transition: 0.5s 0.1s;
  opacity: 1;
}

.foodImage:hover:before {
  transform: translateY(0);
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.foodsToEat p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 400px;
  max-width: 100%;
}

.restaurantDropdown {
  cursor: pointer;
}

/*on display none so the toggle function starts with 
not showing the restaurants when loading the page*/

.showRestaurants {
  display: none;
  text-align: inherit;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*places to stay*/

.placesToStay {
  margin-bottom: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.placesToStay h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* height of p set so the images are aligned on larger screens*/
@media screen and (min-width: 768px) {
  .placesToStay p {
  height: 250px;
}
}

/*How to get there section*/

.howToGetThere {
  margin-bottom: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.howToGetThereHeading {
  text-align: center;
  margin-bottom: 10px;
}

/* height of p set so the images are aligned on larger screens*/
@media screen and (min-width: 768px) {
  .longText {
  height: 310px;
  }
  .shortText {
  height: 160px;
  }
}

@media screen and (min-width: 768px) {
  .longText {
  height: 240px;
  }
  .shortText {
  height: 135px;
  }
}

.howToGetThere img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
  max-width: 100%;
}

.howToGetThere a, .howToGetThere a:visited {
  color: #fff;
  text-decoration: underline;
}

.howToGetThere a:hover {
  color: #343a40;
}

/*contact form*/

.form {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  border: 2px solid #7a93b2;
  border-radius: 4px;
  box-sizing: border-box;
}

.formtext {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: #343a40c9;
}

@media screen and (max-width: 992px) {
  .form, .formtext {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 576px) {
  .form, .formtext {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*footer*/
footer {
  color: #A0A0A0;
}

footer a, footer a:visited {
  color: #A0A0A0;
}

footer a:hover {
  color: #E0E0E0;
}